body {
  margin: 0;
  display: flex;
  background-color: white;
  justify-content: center;
  margin-top: 3rem;
  /* place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

.profile-photo img {
  width: 500px;
  height: 400px;
  object-fit: contain;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c7c5c5;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #c5c5c5;
  background-color: #dcdbdb;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
